.port__container {
    background-color: var(--color-white);
    overflow-x: hidden;
}

/* ======== Hero Container ======== */
.sippers__container1 {
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../assets/Mockups/coffeeshop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7)
}

.sippers__container2 {
    height: 100vh;
}

.project__title {
    font-size: 9.4rem;
    font-weight: 700;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-20%, -50%);
}

.back__button {
    margin-left: 10rem;
    color: var(--color-bg);
    text-transform: uppercase;
    font-size: 73%;
}

#hero__details {
    top: 80%;
    left: 55%;
    transform: translate(47%, 140%);
    padding-right: 50px;
    font-size: 1.2rem;
}

.herotitle__name {
    font-weight: 400;
    margin-left: 0;
    font-size: 50%;
}

.para__1 {
    font-size: 75%;
    font-weight: 200;
}

.para__2 {
    font-size: 75%;
    font-weight: 200;
}

.para__3 {
    font-size: 75%;
    font-weight: 200;
}


/* ======== Coffeebean Video ======== */
.ParallaxVideo {
    height: 60vh;
}

.ParallaxVideo video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ======= Brand Vision ======== */
.brand__box {
    background-color: var(--color-bg-lightmode);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    height: 75vh;
    padding-top: 5.5rem;
}

.brand__left>h3 {
    font-size: 156%;
    font-weight: 300;
    padding-left: 10%;
    margin-top: 60px;
}

.brand__title2 {
    font-size: 94%;
    font-weight: 400;
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0;
}

.brand__description>p {
    display: flex;
    align-items: center;
    font-weight: 200;

}

.brand__left {
    margin: 0;
}

.brand__right {
    margin-bottom: 0;
}

.img__container {
    height: 100vh;
    background-color: var(--color-);
}

.brand__img1 {
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../assets/Mockups/sipperscoverreal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ======== UX Research ========== */
.brand__box2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 45vh;
    margin-top: 2.5rem;
}

.brand__right>h5 {
    font-size: 156%;
    font-weight: 300;
    padding-left: 5rem;
    margin-top: 2rem;
}

.brand__right>p {
    padding-left: 5rem;
    font-weight: 300;
}

.brand__left img {
    width: 80%;
    margin-left: 5rem;
    margin-top: 6rem;
}


/* ======== Rebrand Container ========== */

.rebrand__container>h3 {
    font-weight: 100;
    padding-left: 5rem;
    padding-top: 2%;
}

.rebrand__container h6 {
    padding-bottom: 0;
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 90%;
}

.rebranding {
    margin-top: .2rem;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    margin-right: 5rem;
    font-weight: 200;

}

.homepage__video {
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

video {
    height: 80vh;
    width: 100%;
}

.brand__box3 {
    background-color: var(--color-bg-lightmode);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    height: 55%;
    margin-top: 2.5rem;
}

.brand__title3 {
    margin-right: 10%;
    margin-left: 0%;
}

.brand__title3>p {
    font-weight: 300;
}

/* @media only screen and (max-width: 1200px) {
    .brand__right>p {
        font-size: 15px;
    }

    .brand__right>h5 {
        margin-top: 1rem;
    }
} */

@media only screen and (max-width: 1000px) {

    .togglebutton {
        display: flex;
    }

    #close a {
        display: none;
    }

    .sippers__container {
        height: 40vh;
    }

    .project__title {
        font-size: 7rem;
        top: 0;
        left: 30%;
        transform: translate(-20%, -130%);
    }

    .back__button {
        display: none;
    }

    /* .img__container {
        height: 60vh;
    } */

    /* .brand__img1 {
        height: 100%;
        background-image: url(../assets/Mockups/sipperscoverreal.png);
        background-size: contain;
    } */

    #hero__details {
        top: 44%;
        left: 15%;
        font-size: 115%;
    }

    .herotitle__name {
        display: none;
    }

    .ParallaxVideo {
        height: 40vh;
    }

    .brand__box {
        height: 75%;
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .brand__left>h3 {
        font-size: 18px;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        text-align: center;
    }

    .brand__description>p {
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        font-size: 16px;
    }

    .brand__right>p {
        font-size: 90%;
        margin-top: 0;
        padding-left: 0;
        font-weight: 400;
    }

    .brand__title2,
    .brand__title3 {
        font-size: 90%;
        margin-top: 0;
        padding-left: 0;
        font-weight: 400;
        text-align: center;
    }

    .brand__right {
        margin-bottom: 0;
    }

    .brand__box2 {
        display: flex;
        flex-direction: column;
        height: 55vh;
        padding: 0;

    }

    .brand__right>h5 {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin-left: 0;
        padding-left: 2rem;
        margin-bottom: 2rem;
    }

    .brand__right>p {
        font-size: 16px;
        margin-left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        font-weight: 200;

    }

    .brand__left img {
        margin-left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        margin-top: 0;
    }

    .rebrand__container>h3 {
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        margin-top: 10%;
        margin-left: 0;
        padding: 0;
    }

    .rebrand__container>h6 {
        padding-bottom: 0;
        margin-top: 1rem;
        margin-left: 5rem;
        font-size: 14px;
        text-align: center;
        margin-left: 0;
        padding: 0;

    }

    .rebranding {
        margin-top: .6rem;
        margin-bottom: 1.5rem;
        font-weight: 200;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }

    .brand__box3 {
        display: flex;
        flex-direction: column;
        height: 58vh;
        margin-top: 0;
    }

    .brand__left>h3 {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        margin-top: 3rem;
    }

    .brand__title3 {
        margin-right: 0;

    }

    .brand__title3>p {
        font-weight: 200;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }

    .homepage__video {
        padding-top: 0;
        margin-top: 0;
    }

    video {
        height: 45vh;
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .sippers__container2 {
        height: 50vh;
    }

    .project__title {
        font-size: 4rem;
        left: 23%;
        transform: translate(-20%, -200%);
    }


    .ParallaxVideo {
        height: 20vh;
    }

    .togglebutton {
        display: flex;
    }

    #close a {
        display: none;
    }

    .back__button {
        display: none;
    }

    .brand__box {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    /* .img__container {
        height: 40vh;
        background-color: var(--color-bg-lightmode);
    } */

    /* .brand__img1 {
        background-image: url(../assets/Mockups/sipperscoverreal.png);
        background-size: cover;
        background-position: center;
        height: 100vh;


    } */


    .brand__left>h3 {
        margin-top: 0;
        text-align: center;
    }

    #hero__details {
        text-align: left;
        line-height: 0;
        /* padding-top: 40px;*/
        margin-right: 100px;
        font-size: 15px;
        top: 80%;
        left: 55%;
        transform: translate(30%, 70%);
    }

    .herotitle__name {
        display: none;
    }

    .brand__description>p {
        font-size: 12px;
        padding-right: 20px;
    }

    .para__1 {
        line-height: 2;
    }

    .para__2 {
        line-height: 2;
        margin-top: 0;
    }

    .para__3 {
        line-height: 2;
        margin-top: 0;
    }


    .brand__title2,
    .brand__title3 {
        padding-left: 30px;
    }

    .brand__box2 {
        display: flex;
        flex-direction: column;
        height: 60vh;
        margin-top: 0;
    }

    .brand__right>h5 {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin-left: 0;
        padding-left: 2rem;
        margin-top: 5%;
    }

    .brand__right>p {
        font-size: 12px;
        margin-left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        font-weight: 200;

    }

    .brand__left img {
        margin-left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        margin-top: 0;

    }

    .rebrand__container>h3 {
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        margin-top: 0%;
        margin-left: 0;
        padding: 0;
    }

    .rebrand__container h6 {
        padding-bottom: 0;
        margin-top: 1rem;
        margin-left: 5rem;
        font-size: 14px;
        text-align: center;
        margin-left: 0;
        padding: 0;

    }

    .rebranding {
        margin-top: .6rem;
        margin-bottom: 1.5rem;
        font-weight: 200;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
    }

    .brand__box3 {
        display: flex;
        flex-direction: column;
        height: 45%;
        margin-top: 0;
    }

    .brand__left>h3 {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        margin-top: 2rem;
    }

    .brand__title3>p {
        font-weight: 200;
        font-size: 12px;
    }

    .homepage__video {
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    video {
        height: 15vh;
        width: 100%;
    }
}


@media only screen and (min-width: 900px) {

    .togglebutton {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }

    #open {
        height: 100px;
    }

    #open .links {
        flex-direction: row;
    }
}