nav {
    background: rgba(0, 0, 0, .40);
    width: max-content;
    display: block;
    padding: 1rem 2.3rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    font-size: 1.3rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background-color: var(--color-bg);
    color: var(--color-primary-new);

}

@media only screen and (min-width: 900px) {
    nav {
        display: none;
    }

}